@import url('https://fonts.googleapis.com/css?family=Raleway');

:root {

    /* REFINED PALETTE */
    --main-light: #EFEFDF;
    --main-light-tinted: #110000;
    --main-light-shaded:;
    
    --main-dark: #220000;
    --main-dark-tinted: #330000;
    --main-dark-shaded: #110000;
  
    --content-bg: var(--main-light);
  
  
  /*
    /* WHIMSICAL PALETTE * /
    --main-light: #CFCFFF;
    --main-light-tinted:;
    --main-light-shaded:;
    
    --main-dark: #442233;
    --main-dark-tinted: #884466;
    --main-dark-shaded: #221118;
    
    --content-bg: var(--main-light) repeat url('../media/background.png');
  */
  
  --accent: #880044;
  --accent-tinted: #AA1155;
  --accent-shaded: #660033;
  
  --margin-size: 8px;
  --navbar-height: 100px;
}

html, body {
  /* Browser resets*/
  margin: 0;
  padding: 0;
  border: none;
  
  background-color: var(--main-light);
  color: var(--main-dark);
  font-family: Raleway, sans-serif;
  font-size: 18px;
}

a {
  text-decoration: none;
  font-weight: bold;
  color: var(--accent);
}

a:visited {
  color: var(--accent-shaded);
}

a:hover {
  color: var(--accent-tinted);
}

#header {
  background-color: var(--main-dark);
  color: var(--main-light);
  text-align: center;
  padding-top: var(--margin-size);
}

#logo-wrapper {
  display: inline-block;
  margin: var(--margin-size);
}

#logo {
  width: auto;
  height: 60px;
  
  stroke: var(--main-light);
  fill: var(--main-light);
}

#navbar-button-wrapper {
  display: none;
}

#navbar {
  box-sizing: border-box;
  max-width: 100vw;
  
  font-size: 24px;
  
  display: flex;
  flex-direction: row;
}

.nav-item {
  display: block;
  box-sizing: border-box;
  min-width: 100px;
  flex-grow: 1;
  padding: var(--margin-size);
  text-align: center;
  font-weight: bolder;
  color: var(--main-light);
  border-bottom: 3px solid var(--main-dark);
}

@media only screen and (max-width: 600px) {
  #navbar-button-wrapper {
    position: absolute;
    top: calc((var(--margin-size) / 2) + 24px);
    left: calc((var(--margin-size) / 2) + 24px);
    
    display: block;
    background-color: var(--main-dark);
  }
  
  #navbar-button {
    stroke: var(--main-light);
    fill: var(--main-light);
    
    width: 24px;
    height: 24px;
  }
  
  #navbar {
    display: none;
  }
  
  #navbar-button-wrapper:active, #navbar-button-wrapper:hover {
    background-color: var(--main-dark-shaded)!important;
  }
  
  #navbar-button-wrapper:active + #navbar, #navbar-button-wrapper:hover + #navbar, #navbar:active, #navbar:hover {
    position: absolute;
    
    top: calc((var(--margin-size) / 2) + 48px);
    left: calc((var(--margin-size) / 2) + 24px);
    
    display: flex;
    flex-direction: column;
    
    background-color: var(--main-dark-shaded);
  }
  
  .nav-item: {
    background-color: var(--main-dark-shaded);
    border-bottom: none;
  }
}

.nav-item:visited {
  color: var(--main-light);
}

.nav-item:hover {
  background-color: var(--main-dark-shaded);
  color: var(--accent-tinted);
  border-bottom-color: var(--accent);
}

#content {
  background: var(--content-bg);
  color: var(--main-dark);
  padding: var(--margin-size);
}

p {
  margin: 0;
  padding: var(--margin-size);
}

.right {
  float: right;
}

.left {
  float: left;
}