@import url('https://fonts.googleapis.com/css?family=Raleway');

:root {
  --main-light: #EFEFDF;
  --main-light-tinted: #FFFFEF;
  --main-light-shaded: #DFDFCF;
  
  --main-dark: #220000;
  --main-dark-tinted: #330000;
  --main-dark-shaded: #110000;

  --content-bg: var(--main-light);
  
  --accent: #880044;
  --accent-tinted: #AA1155;
  --accent-shaded: #660033;
  
  --margin-size: 8px;
  --navbar-height: 100px;
}

html, body {
  /* Browser resets*/
  margin: 0;
  padding: 0;
  border: none;
  
  background-color: var(--main-light);
  color: var(--main-dark);
  font-family: Raleway, sans-serif;
  font-size: 18px;
  text-align: center;
}

a {
  text-decoration: none;
  font-weight: bold;
  color: var(--accent);
}

a:visited {
  color: var(--accent-shaded);
}

a:hover {
  color: var(--accent-tinted);
}

#header {
  z-index: 1;
  text-align: center;
  padding-top: var(--margin-size);
  box-shadow: 0px -7px 15px 4px #000000;
}

#logo-wrapper {
  display: inline-block;
  margin: var(--margin-size);
}

#logo {
  width: auto;
  height: 60px;
  
  stroke: currentColor;
  fill: currentColor;
}

#navbar-button-wrapper {
  display: none;
}

#navbar {
  box-sizing: border-box;
  max-width: 100vw;
  
  font-size: 24px;
  
  display: flex;
  flex-direction: row;
}

.nav-item {
  display: block;
  box-sizing: border-box;
  min-width: 100px;
  flex-grow: 1;
  padding: var(--margin-size);
  text-align: center;
  font-weight: bolder;
  color: var(--main-dark);
  border-bottom: 3px solid var(--main-light);
}

#top-img {
  display: flex;
  box-sizing: border-box;
  width: 100%;
  height: 50vh;
  background: url("../media/creamery.png");
  background-size: cover;
  background-position: center;
  text-align: center;
  color: var(--main-light);
  font-weight: bolder;
  flex-direction: column;
  justify-content: center;
  margin: var(--margin-size), 0;
}

#hours {
  text-align: center;
  float: left;
  width: 50%;
  box-sizing: border-box;
}

#map {
  float: right;
  width: 50%;
  box-sizing: border-box;
}

#flavors {
  columns: 2 auto;
}

.clear {
  clear: both;
}

.video {
  width: 100%;
  display: inline-block;
  text-align: center;
}

.video-wrapper {
  width: 50vw;
  min-width: 400px;
  height: 37.5vw;
  min-height: 300px;
  display: inline-block;
}

.video-embed {
  width: 100%;
  height: 100%;
}

.alert {
  width: 100%;
  background-color: #FF3322;
  padding: var(--margin-size);
  box-sizing: border-box;
}

/*
@media only screen and (max-width: 400px) {
  #navbar-button-wrapper {
    position: absolute;
    top: calc((var(--margin-size) / 2) + 24px);
    left: calc((var(--margin-size) / 2) + 24px);
    
    display: block;
    background-color: var(--main-dark);
  }
  
  #navbar-button {
    stroke: var(--main-light);
    fill: var(--main-light);
    
    width: 24px;
    height: 24px;
  }
  
  #navbar {
    display: none;
  }
  
  #navbar-button-wrapper:active, #navbar-button-wrapper:hover {
    background-color: var(--main-dark-shaded)!important;
  }
  
  #navbar-button-wrapper:active + #navbar, #navbar-button-wrapper:hover + #navbar, #navbar:active, #navbar:hover {
    position: absolute;
    
    top: calc((var(--margin-size) / 2) + 48px);
    left: calc((var(--margin-size) / 2) + 24px);
    
    display: flex;
    flex-direction: column;
    
    background-color: var(--main-dark-shaded);
  }
  
  .nav-item: {
    background-color: var(--main-dark-shaded);
    border-bottom: none;
  }
  
  .video-wrapper {
    width: 90vw;
    height: 68.5vw;
  }
}
*/

.nav-item:visited {
  color: var(--main-dark);
}

.nav-item:hover {
  background-color: var(--main-light-shaded);
  color: var(--accent-tinted);
  border-bottom-color: var(--accent);
}

#content {
  padding: var(--margin-size);
}

